*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


section{
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}


button{
    border: none;
    outline: none;
    background-color: wheat;
    color: black;
    font-size: 24px;
    font-family: 'Montserrat';
    padding: 20px;
    cursor: pointer;
    
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

h2{
    margin-top: 1.5rem;
    font-size: 30px;
    color:antiquewhite;
}


@media(max-width: 400px) {
    section{
        max-width: 100%;
    }

    button{
        border: none;
        outline: none;
        background-color: wheat;
        color: #333;
        font-size: 16px;
        font-family: 'Montserrat';
        padding: 15px;
        cursor: pointer;
        
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    h2{
        margin-top: 1rem;
        font-size: 20px;
        color:antiquewhite;
    }
}
 /* @media(max-width: 34em) {
    section{
        max-width: 50%;
    }
}   
 @media(max-width:29em){
section{
    max-width:35% ;
}
}  */